<% films.each do |film| %>
  <div class="post post_teaser shortcuts_item" id="post_302506">
    <div class="post__header">
      <span class="post__time_published"><%= time_ago_in_words(film.created_at)%> назад
      </span>
      <h2 class="post__title">
        <a><%= link_to "#{film.title}", film_path(film) %></a>
      </h2>

      <div class="hubs">
        <%=delete_symblol(film.language).join(",")%> 
        <%=link_to "Comments #{film.comments.count}", film_path(film)%>
        <%=link_to "edit", edit_film_path(film)%>
        <%= link_to 'delete', @film, method: :delete, data: { confirm: 'Are you sure?' } %> 
      </div>
    </div>

    <div class="post__body post__body_crop ">
      <div class="content html_format_image">
        <%= link_to image_tag(film.uploaded_file.url, width: 500, height: 289), film_path(film)%>
      </div>
      <div class="content html_format_article"> 
        <%=sanitize(film.description)%>
      </div>
      </div>
      <div class="buttons" style="padding: 5px;">
         <a><%= ui_button 'read', "Читать дальше", film_path(film) %> </a>
      </div>
    </div>
  </div>
<%end%>

