




<%= bootstrap_form_for(@film, layout: :vertical, multipart: true) do |f| %>
 

 <%#= errors_for(@film)%>



  
    <%= f.text_field :title, placeholder: "title",:size => 160  %>  
    <div class="ck_text">
      <%= f.cktext_area  :description, :id => 'sometext', size: "30x10"  %>
    </div>  


      <%= f.file_field :uploaded_file, placeholder: "picture" %>
       
      <%= f.text_field :language, label: "add tags",placeholder: "add tags" %>

  		<%#= f.fields_for :tags do |builder| %>
        <%#= builder.text_field :tag_type, placeholder: "add tag" %>
  		<%#= f.hidden_field :film_id %>
            <%# end %>
    
    
       <div class="send_new_film">
        <%= f.check_box :send_new_film, label: "Don't public" %> 
      </div>
    
             
            
            <%= f.button t('forms.buttons.submit'), data: {disable_with: "<i class='fa fa-refresh fa-spin'></i> Creating..."}  %>
           
           
<% end %>

