

  <head>
    <%= title "Contact Us" %>
    <%= render "home/adversting"%>
  </head>

  <body>
    <div class="layout_inner">
      <div id="layout">
        <div id="navbar_overlay" class="hidden">
        </div>
        <%=render "home/left_side"%>
        <div class="inner">
          <div class="page-header page-header_inline">
            <h1 class="page-header__title page-header__title_inline">Публикации
            </h1>
            <%= form_tag results_path, method: :get, role: 'search', class: "search-form" do %>
              <%= text_field_tag :query, params[:query], class: "search-form__field", placeholder: "Поиск" %>
              <%= submit_tag "Search", name: nil, class: "search-form__button icon_search" %>
            <% end %>
          </div>
          <div class="column-wrapper js-sticky-wrapper">
            <div class="content_left js-content_left">
              <div class="tabs">
                <%=render "home/small_navbar"%>
              </div>
              <div class="posts_list">
                <div class="posts shortcuts_items">
                  <%=render "form"%>
                </div>
              </div>
            </div>  
            <%#=render "home/side_adversting"%>
          </div>
        </div>
      </div>
    </div>
  </body>





































