
  <head>
    <% title @film.title %>
    <% meta_tag :description, @film.title %>
    <% meta_tag :keywords, @film.language %>
    <%= render "home/adversting"%>
  </head>
  <body>
    <div class="layout_inner">
      <div id="layout">
        <div id="navbar_overlay" class="hidden"></div>
          <%=render "home/left_side"%>
        <div class="inner">
          <%=render "home/search"%>
        <div class="column-wrapper js-sticky-wrapper">
          <div class="content_left js-content_left">
            <div class="tabs">
              <%=render "home/small_navbar"%>
            </div>
            <div class="posts_list">
              <div class="posts shortcuts_items">
                <%=render partial: "home/article", locals: {film: @film}%>
                <%= render partial: "comments/comment_form"%> 
                <%#=render "home/middle_adwersting"%>
              </div>
            </div>
          </div>   
            <%=render "home/side_adversting"%>
        </div>
      </div>
    </div>  
  </body>  






  















