
  <div class="content">
    <div class="content_resize">
      <div class="mainbar_article">

        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-8">
            <%=render partial: "home/title", locals: {film: @film}%>
            <div class="image_blog_show">
              <%= link_to image_tag(@film.uploaded_file.url, width: 400, height: 289), film_path(@film)%>
              
            </div>

              <p><%=sanitize(@film.description)%></p>
              <p><%= render partial: "comments/comment_form"%> </p>
          </div> 
          <div class="col-md-3">              
            <%=render "home/search"%> 
            <%=render "home/tags"%>   
          </div>     
        </div>        
      </div>  
      <p class="pages">
        <small> 
          <%= render_pagination_box(@films) %> 
        </small>
      </p>
    </div>

    <div class="clr"></div>
  </div>
  <%=render "films/down"%>